{
    "extends": [
      "plugin:react/recommended",
      "standard",
      "plugin:prettier/recommended"
    ],
    "plugins": [
      "react",
      "prettier"
    ],
    "rules": {
      "prettier/prettier": ["error"]
    }
  }